{% extends "base.html" %}
{% block content %}
<main role="main" class="container bootdey.com">
  
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
      <div class="media text-muted pt-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@Nugu Kim</strong>
          아파트 단지에 살다보니 반찬가게도 두군데나 있고, 또 맞벌이라 몇년전부터 타업체에서도 가정식 배달해서 먹고 있었는데. 먹어본 곳 중에서는 여기가 젤 맛있어요.</p>
      </div>
      <div class="media text-muted pt-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="mr-2 rounded" width="32" height="32">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@Amu Park</strong>
          이곳이 비교적 훨씬 저렴한 가격대에 많은 양이 오고 한가지의 반찬이 아닌 다양한종류의 반찬을 먹을수있어 좋습니다</p>
      </div>
      <div class="media text-muted pt-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="mr-2 rounded" width="32" height="32">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@user Lee</strong>
          매우 매우 친절하십니다. 부부가 운영하시는듯 한데 아주머니분께서 설명을 매우 친절하게 해주셨습니다.        </p>
      </div>
      <div class="media text-muted pt-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="mr-2 rounded" width="32" height="32">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@I am Sam</strong>
          이미 그 부근 주민들 사이에서는 꽤나 알려진 곳인 듯 합니다.         </p>
      </div>
    </div>
  </main>
  {% endblock %}